<nav class="navbar">
  <div class="container">
    <div class="nav-items">
      <a routerLink="/">{{ 'HOME' | translate }}</a>
      <a routerLink="/education">{{ 'EDUCATION' | translate }}</a>
      <a routerLink="/skills">{{ 'SKILLS' | translate }}</a>
      <a routerLink="/contact">{{ 'CONTACT' | translate }}</a>
    </div>

    <select (change)="switchLang($event.target.value)">
      <option value="ar" class="option-ar">العربية</option>
      <option value="fr" class="option-fr">Français</option>
      <option value="en" class="option-en">English</option>
      <option value="es" class="option-es">Español</option>
    </select>
  </div>
</nav>
