/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
}

h1, p {
  margin: 0;
  padding: 1rem;
}

section {
  max-width: 800px;
  margin: 0 auto;
}
